<%= button_to "Cats in a Blender", '/cats_in_a_blender' %>
<% if @kittens %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><%= @kittens.count %> Kittens YAY KITTENS!!!</h1>
      </div>
    </div>
    <div class="row"></div>
    <% @kittens.each do |kitten| %>
      <div class="col-sm-3">
        <h5 class="kitten"><%= kitten.name %></h5>
        <%= image_tag(kitten.image_url) %>
      </div>
    <% end %>
  </div>
<% else %>
    <%= render partial: 'no_kitties' %>
<% end %>
